@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
  --background: hsl(185, 75%, 39%);
  --text-color: hsl(227, 10%, 46%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  font-size: 18px;
}
